/* ===========================================================================
	Colors
	========================================================================== */
	$open-sans: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

	$white: #ffffff;
	$black: #000000;

	$dark-blue: #070b2d;
	$medium-blue: #5b82a7;

	$background: #29346a;
	$background-dark: #060a2c;
	$text: #070b2d;

	$link: #1ABC9C;
	$link-hover: darken(#1ABC9C, 8%);
	$link-visited: #1ABC9C;

	/*  Forms
		========================================================================== */
		$input-header-text: #a1a1a7;

	/*  Social
		========================================================================== */
		$social-header-border: #5b5d71;

	/*  Buttons
		========================================================================== */
		$btn-text: #858586;
		$btn-color-top: #e3e3e4;
		$btn-color-bottom: #bfbfc3;
		$btn-shadow: #ededed;
		$btn-border-top: #d7d7da;
		$btn-border: #a1a1a7;

		$btn-hover-text: #fff;
		$btn-hover-color-top: #7fa7cd;
		$btn-hover-color-bottom: #5b83a8;
		$btn-hover-shadow: #9abad9;
		$btn-hover-border-top: #8297ab;
		$btn-hover-border: #083762;