/* ===========================================================================
	Colors
	========================================================================== */
	$open-sans: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;

	$white: #fff;
	$black: #000;

	$dark-blue: #070b2d;
	$medium-blue: #5b82a7;

	$background: #29346a;
	$text: #000000;

	$link: #1ABC9C;
	$link-hover: darken(#1ABC9C, 8%);
	$link-visited: #1ABC9C;

	/*  Buttons
		========================================================================== */
		$btn-light: #535556;
		$btn-medium: #424242;
		$btn-dark: #404040;

		$btn-border-light: #606264;
		$btn-border-dark: #191919;

		$btn-text-border: #202020;

		$btn-active-bg: #303030;
		$btn-hover-glow: #637f90;
		$btn-active-glow: #3b5766;