/* ===========================================================================
	General Styles
	========================================================================== */
	html {
		font-size:62.5%;
	}

	body {
		color: $text;
	}

	.row {
		width: 100%;
		max-width: 80em;
	}

	.row-full {
		max-width: none;
		.column, .columns {
			padding: 0;
		}
	}

	a {
		color: $medium-blue;
		text-decoration: none;
		font-weight: 600;
		&:visited {
			color: $medium-blue;
		}
		&:hover {
			color: $dark-blue;
			text-decoration: none;
		}
	}